In [1]:
with open("aoc9.txt", "r") as file:
    input_line = file.readline().strip()

In [4]:
input_line[-1]

'3'

In [6]:
# Function to convert the input string to the id list with spaces.
# Numbers in odd postions are IDs (n//2) and numbers in even positions are spaces (None).
def convert_to_list(input):
    id_list = []
    for n in range(len(input)):
        if n % 2 == 0:
            id = n // 2
            id_list.extend([id] * int(input[n]))
        else:
            id_list.extend([None] * int(input[n]))
    return id_list

In [10]:
test_input = "2333133121414131402"
test_list = convert_to_list(test_input)
test_list

[0,
 0,
 None,
 None,
 None,
 1,
 1,
 1,
 None,
 None,
 None,
 2,
 None,
 None,
 None,
 3,
 3,
 3,
 None,
 4,
 4,
 None,
 5,
 5,
 5,
 5,
 None,
 6,
 6,
 6,
 6,
 None,
 7,
 7,
 7,
 None,
 8,
 8,
 8,
 8,
 9,
 9]

In [8]:
test_list

[0, None, None, 1, 1, 1, None, None, None, None, 2, 2, 2, 2, 2]

In [50]:
# Function to change the position of the last id with the first None.

def move_marble(id_list):
    last_marble = id_list.pop()
    for n in range(len(id_list)):
        if id_list[n] == None:
            id_list[n] = last_marble
            id_list.append(None)
            return id_list

In [51]:
id_list = convert_to_list("12345")

In [52]:
id_list

[0, None, None, 1, 1, 1, None, None, None, None, 2, 2, 2, 2, 2]

In [ ]:
def find_last_non_none(lst):
    for i in range(len(lst) - 1, -1, -1):
        if lst[i] is not None:
            return i
    return -1  # Return -1 if no non-None element is found

In [55]:
# Function to swap the first None with the last id.
def move_marble(id_list):
    last_marble = id_list.pop(find_last_non_none(id_list))
    for n in range(len(id_list)):
        if id_list[n] == None:
            id_list[n] = last_marble
            id_list.append(None)
            return id_list

In [57]:
id_list = convert_to_list("12345")

In [58]:
move_marble(move_marble(id_list))

[0, 2, 2, 1, 1, 1, None, None, None, None, 2, 2, 2, None, None]

In [59]:
# Repeat the move_marble function until the list is sorted without None between ids.
def sort_marbles(id_list):
    # Find the first None and the last ID.
    first_none = id_list.index(None)
    while find_last_non_none(id_list) > first_none:
        id_list = move_marble(id_list)
        first_none = id_list.index(None)
    return id_list

In [60]:
test_input="12345"

In [61]:
sort_marbles(convert_to_list(test_input))

[0, 2, 2, 1, 1, 1, 2, 2, 2, None, None, None, None, None, None]

In [62]:
test_input="2333133121414131402"

In [66]:
sort_marbles(convert_to_list(test_input))

[0,
 0,
 9,
 9,
 8,
 1,
 1,
 1,
 8,
 8,
 8,
 2,
 7,
 7,
 7,
 3,
 3,
 3,
 6,
 4,
 4,
 6,
 5,
 5,
 5,
 5,
 6,
 6,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [67]:
def check_sum(lst):
    sum = 0
    for i in range(len(lst)):
        if lst[i] is not None:
            sum += lst[i] * i 
    return sum

In [68]:
check_sum(sort_marbles(convert_to_list(test_input)))

1928

In [69]:
check_sum(sort_marbles(convert_to_list(input_line)))

6201130364722